MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/synchroedit?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key
PORT=3000

# Email Configuration
ENABLE_EMAIL_VERIFICATION=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_specific_password
# Optional: If your sender address is different from your login user
SMTP_FROM=noreply@yourdomain.com
SMTP_SECURE=false
